<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="parentTest" class="com.parent.ParentTest">
      <property name="message1" value="Parent!"/>
      <property name="message2" value="Parent Second!"/>
   </bean>

   <bean id="sonTest" class="com.parent.SonTest" parent="parentTest">
      <property name="message1" value="Son!"/>
      <property name="message3" value="Son Third!"/>
   </bean>

</beans>