<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
   
    <aop:config>
    	<aop:aspect id="aud" ref="audience">
    		<aop:pointcut id="performance" 
    		expression="execution(* com.springinaction.springidol.Performer.perform(..))"/>
    		
    		<aop:before pointcut-ref="performance" method="takeSeats" />
    		<aop:before pointcut-ref="performance" method="turnOffCellPhones" />
    		<aop:after-returning pointcut-ref="performance" method="applaud" />
    		<!-- just for perform -->
    		<aop:after-throwing pointcut-ref="performance"
    							throwing="ex"
    							method="demandRefund" />
    	</aop:aspect>
    </aop:config>
    
    <bean id="duke" class="com.springinaction.springidol.Juggler" >
    	<property name="ballNum" value="10" />
    </bean>
    
    <!-- Audience Aspect -->
    <bean id="audience" class="com.springinaction.springidol.Audience" />

</beans> 